@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar but allow scrolling */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll; /* ensure vertical scroll is enabled */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
